# Arquivos de ambiente
.env
*.env

# Logs
*.log
logs/
**/logs/

# Diretórios e arquivos do Docker
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.local.yml
docker-compose.local.yaml
*.pid

# Volumes docker se estiver usando bind mounts ou arquivos auxiliares
mysqlvolume/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp
*.bak

# Configs de IDE
.vscode/
.idea/
*.iml

# Arquivos de build docker (se eventualmente forem gerados)
*.tar
*.img

# Node Modules ou outras libs se por acaso forem parar na raiz
node_modules/
